include LICENSE.txt
include README.rst
include requirements.txt

recursive-include elektronn2/utils/d3viz/css *
recursive-include elektronn2/utils/d3viz/html *
recursive-include elektronn2/utils/d3viz/js *
