numpy>=1.11
scipy>=0.18
sklearn<=0.20
scikit-image>=0.12.3
matplotlib>=2.0
h5py>=2.2
theano>=0.8
future>=0.15
tqdm>=4
colorlog>=2.7
pydotplus
seaborn
prompt_toolkit>=1.0.3
jedi>=0.9.0
psutil

git+https://github.com/mdraw/knossos_utils  # Pure-Python fork. Extensions are not needed for sphinx build.
git+https://github.com/mdraw/e2fakenumba  # Provides fake numba.guvectorize decorator

sphinx
sphinx_rtd_theme
